    <title>{{title}}</title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
      <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
        <script src="app.js"></script>


  </head>

    <body>
  <div id="wrapper">
    <h1>{{title}}</h1>
    <h2><i>"America's Finest News Source"</i></h2>

    <ul>
  {{#each scrapedOnionData}}
    <li>
      <p>
        {{this._id}}. {{this.title}}. {{this.link}}
        </p>
       <!--  <div id="articles"></div>
    <div id="notes"></div>
    <div id="postNotes"></div> -->
<p>
        <form action="/delete?_method=DELETE" method="POST">
          <input type="hidden" name="deleteNote" value="{{this._id}}">
          <button type="submit">Delete</button>
        </form>
      </p>
    </li>
  {{/each}}
</ul>

<form method="POST" action="/create" class="button-size">
  <textarea type="text" name="article"></textarea>
  <button type="submit">New Article!</button>
</form>

<h2>Update Notes</h2>
<form action="/update?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
  <textarea type="text" name="notes" placeholder="what do you want to say?"></textarea>
  <button type="submit">Post Note!</button>
</form>
    
  </div>

  </body>
